<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/auth.css">
    <link rel="stylesheet" href="/static/css/chat.css">
    <link rel="stylesheet" href="/static/css/profile.css">
    <title>Real Time Forum</title>
</head>

<body>
    <!-- Toast notification container -->
    <div id="toast" class="toast" style="display: none;">
        <p id="toast-message"></p>
    </div>
    
    <!-- nav bar -->
    <div class="large-header" id="large-header">
        <h1 class="main-title"><span>Web</span> Forum</h1>
    </div>
    <header>
        <nav id="nav" class="nav"></nav>
    </header>
    
    <!-- filter component -->
    <div id="filterContainer" style="display: none;"></div>

    <div class="content-container">
    
        <!-- root -->
        <main id="root" class="container">
        </main>   
        <!-- chat area to the side -->
        <section id="chat" class="chat-section"></section>
    </div>

    <script src="/static/js/app.js" type="module"></script>
</body>

</html>