:root {
    /* Existing color variables */
    --color-primary: #1f2937;
    --color-secondary: #EF9083;
    --color-background: #F5F5F5;
    --color-text: #0b0f1a;
    --color-text-2: #ffffff;
    --color-accent: #374151;
    --color-border: #ddd;
    --shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    /* New color variables */
    --color-soft-blue: #3b82f6;
    --color-soft-red: #ef4444;
    --color-soft-green: #22c55e;
    --color-soft-gray: #f2f2f2;

    --padding-100px: 100px;

    /* Font family variable */
    /* --font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif; */
}

body {
    /* font-family: var(--font-family); */
    font-family: 'sora';
    background-color: var(--color-background);
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.nav {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
}

nav ul li {
    float: left;
    padding-left: 20px;
    padding-right: 20px;
}

nav ul li.right {
    float: right;
    padding-right: 20px;
}

nav ul li a {
    display: block;
    padding: 8px;
    text-decoration: none;
    color: #DF6958;
}

/* nav ul li a:hover {
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-color: var(--color-secondary);
    text-decoration-thickness: 2px;
} */


.large-header {
    background-color: var(--color-primary);
    padding: 10px;
    padding-left: 20px;
    /* background-image: url("../images/community.svg"); */
    /* background-repeat: no-repeat; */
    /* background-position: right; */
    /* background-attachment: fixed; */
    /* background-size: 33%; */
}

.large-header h1 {
    color: var(--color-text-2);
}

.large-header span {
    color: var(--color-secondary);
}

/* Additional styles for index.html */
#filterContainer {
    padding: 20px;
    margin-bottom: 20px;
    padding-left: 100px;
}

#filterContainer form div {
    margin-bottom: 10px;
}

#filterContainer label {
    margin-left: 5px;
}

#filterContainer button {
    background-color: var(--color-secondary);
    color: var(--color-text-2);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-family: 'sora';
    transition: all 0.3s ease;
}

#filterContainer button:hover {
    background-color: #DF6958;;
}

.posts-section {
    padding: 20px;
}

.posts-section h1 {
    color: var(--color-primary);
    margin-bottom: 20px;
}

.post-card {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    /* margin-bottom: 30px; */
    padding: 15px 2vw 5px 2vw;
    width: 46vw;
    margin-top: 20px;
    margin-left: var(--padding-100px);

    /* background-color: var(--color-soft-gray);
    border: 1px solid var(--color-border);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: var(--shadow); */
}

.comment-single{
    display: flex;
    margin-left: var(--padding-100px);
}

.comment-card{
    background-color: white;
    /* box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px; */
    /* border-radius: 5px; */
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 20px 10px 15px 20px;
    width: 500px;
    border: #cac2ca63 solid 1px;
    margin-left: var(--padding-100px);
}

.comment-card .user{
    font-size: 13px;
}

.comment-card .date{
    font-size: 10px;
    color: #ABAAAB;
    margin-top: -20px;
}

.comment-card p{
    font-size: 14px;
    margin-top: -10px;
}

.comment-card .interaction {
    display: flex;
    align-items: center;
    margin-bottom: -10px;
    border-top: #cac2ca63 solid 1px;
    padding-top: 0px;
    color: #ABAAAB;
}

.line{
    background-color: #cac2ca63;
    width: 3px;
    min-height: 100px;
    margin-left: 50px;
}

.post-card h2 {
    color: var(--color-primary);
    margin-bottom: -10px;
    padding: 0;
}

.post-card p {
    margin: 10px 0;
    margin: 0px;
}

.post-meta {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 5px;
}

.post-card .user {
    color: #EF9083;
    margin-right: 10px;
}
.post-card .date::before{
    content: 'Posted on ';
}

.post-card .date {
    font-size: 12px;
    color: #ABAAAB;
}

.post-card .categories span {
    color: #fa7268;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 10px;
}

.post-card .categories {
    margin-bottom: 20px;
}

.post-card .content {
    margin-bottom: 20px;    
    word-wrap: break-word;
/* 
    overflow-wrap: break-word; 
    white-space: pre-wrap; 
    width: 100ch; */
}

.interaction {
    display: flex;
    align-items: center;
    align-items: center;
    margin-bottom: 10px;
    border-top: #cac2ca63 solid 1px;
    padding-top: 20px;
    color: #ABAAAB;
}

.post-card .button {
    background-color: var(--color-secondary);
    color: var(--color-text-2);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

.post-card .button:hover {
    background-color: darken(var(--color-secondary), 10%);
}

.post-card button {
    border: none;
    padding: 11px 23px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: -2px;
    color: var(--color-text-2);
    font-size: 15px;
}

.like-button {
    background-color: var(--color-soft-blue);
    -webkit-mask-image: url("../images/heart.png");
    mask-image: url("../images/heart.png");
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
    /* width: 20px; */
    height: 30px;
    display: inline-block;
    background-color: #EC5F59;
    transform: scale(0.8);
    margin-right: 10px;
    cursor: pointer;
}

.like-button:hover {
    background-color: #b23935;
}

.dislike-button {
    background-color: var(--color-soft-red);
    -webkit-mask-image: url("../images/broken-heart.png");
    mask-image: url("../images/broken-heart.png");
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
    /* width: 20px; */
    height: 30px;
    display: inline-block;
    transform: scale(0.8);
    cursor: pointer;
    margin-right: 10px;
}

.dislike-button:hover {
    background-color: #d03838;
}

.post-card .comment-button {
    background-color: var(--color-soft-green);
    -webkit-mask-image: url("../images/comments.svg");
    mask-image: url("../images/comments.svg");
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
    width: 8px;
    height: 8px;
    display: inline-block;
    margin-right: 10px;
}

.post-card .comment-button:hover {
    background-color: #1dab51;
}

.like-count {
    /* background-color: #649dfa; */
    color: var(--color-text);
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-top: 9px;
    padding-bottom: 10px;
    padding-right: 25px;
    /* padding-left: 16px; */
}

.dislike-count {
    /* background-color: #f06b6b; */
    color: var(--color-text);
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-top: 9px;
    padding-bottom: 10px;
    /* padding-right: 25px; */
    /* padding-left: 16px; */
}

/* .comment-section {
    background-color: var(--color-soft-gray);
    border: 1px solid var(--color-border);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: var(--shadow);
} */

.banner{
    padding-left: var(--padding-100px);
}

.banner a{
    margin-left: 10px;
    display: inline-block; /* Make the link behave like a block element */
    padding: 10px 20px; /* Add some padding */
    background-color: #DA8073; /* Button background color */
    color: white; /* Text color */
    text-align: center; /* Center text */
    text-decoration: none; /* Remove underline */
    border: 2px solid #DA8073; /* Border color */
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s, color 0.3s; /* Transition effects */
}

.banner a:hover {
    background-color: #DF6958; /* Button background color on hover */
    color: white; /* Text color on hover */
}

.flex{
    display: flex;
    align-items: center;
}

.flex img{
    margin-right: 20px;
}

.comment-section{
    display: flex;
    border-top: #cac2ca63 solid 1px;
    padding-top: 20px;
    color: #ABAAAB;
    background-color: white;
    margin-top: -17px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    width: 50vw;
    margin-left: var(--padding-100px);
}

.comment-section form{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    padding-left: 20px;
}

.comment-section form textarea {
    padding: 12px 0px 0px 0;
    padding-left: 20px;
    height: 30px; /* Initial height */
    min-width: 450px;
    border: #cac2caab solid 1px;
    resize: vertical; /* Allow resizing only vertically */
    margin-right: 20px;
    outline: none;
    font-family: 'sora';
}

/* .comment-section textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--color-border);
    border-radius: 5px;
    font-family: var(--font-family);
    resize: none;
} */

.btn {
    background-color: var(--color-secondary);
    color: var(--color-text-2);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 10px;
    transition: background-color 0.3s ease;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.btn:hover {
    background-color: #e76565;
    color: white;
}

.comment-section .error-message {
    color: var(--color-soft-red);
    margin-top: 10px;
}

.form-group {
    display: flex;
    align-items: center;
}

.form-group label {
    margin-right: 5px;
    white-space: nowrap;
}

.form-group textarea {
    flex: 1;
    min-height: 20px;
    resize: none;
    border-radius: 4px;
    /* border: 1px solid #c6c6c6; */
    text-indent: 10px;
    border: none;
    outline: none;
    font-family: 'Sora';
}

.lns-checkbox {
    color: #374151;
}

.posts-section h1{
    margin-left: var(--padding-100px);
}
.post-link {
    text-decoration: none;
    color: inherit;
    display: block;
}

.error-body {
    background-color: var(--color-soft-red);
}

.error-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-text-2);
    padding: 10px;
    font-size: 25px;
}

.error-container h1 {
    padding: 50px;
    font-size: 100px;
}

.error-container a {
    background-color: var(--color-text-2);
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
}

.inp {
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    padding: 0 5px;
    text-indent: 10px;
}

.inp-area {
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    padding: 0 5px;
}

.error-message {
    margin-top: 15px;
    padding: 10px;
    color: #ff0000;
    text-align: center;
}

.swal2-confirm {
    background-color: #3b82f6;
}

select {
    width: 100%;
    height: 50px;
    outline: none;
    border-radius: 4px;
    border: none;
    padding-left: 20px;
    padding: 15px 5px 15px 20px;
    background-color: #EBEEED;
    font-family: 'Sora';
    font-size: 15px;
}

.content-container {
    display: flex;
    /* justify-content: center;
    align-items: center;
    height: 90vh; */
}

.container {
    width: 100vw;
}

#title {
    width: 400px;
    border-radius: 4px;
    /* border: 1px solid #c6c6c6; */
    border: none;
    outline: none;
    font-family: 'Sora';
}

.username {
    color: #DF6958;
    margin-top: 8px;
}

.username:hover {
    /* background-color: #515e74;
    border: 1px solid #73829b;
    border-radius: 25px; */
    cursor: pointer;
}

.banner2{
    display: flex;
    justify-content: center;
    margin-top: 10vh;
}

@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    /* nav ul {
        flex-direction: column;
    } */

    nav ul li {
        margin-bottom: 10px;
    }

    nav ul li.right {
        padding-right: 0;
    }
}


/* Toast notification styling */
.toast {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    font-size: 14px;
    z-index: 1000;
    opacity: 0.9;
    transition: opacity 0.3s ease;
}


.center-404 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    text-align: center;
  }

  .users-list {
    max-height: 70vh; /* Set the maximum height as a percentage of the viewport height */
    overflow-y: auto; /* Add a vertical scrollbar when content overflows */
    padding: 10px; /* Optional: Add padding for a better appearance */
    /* border: 1px solid #ddd; */
    box-sizing: border-box; /* Ensures padding doesn’t increase the total width/height */
  }